
.box {
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 100%;
}

p {
    font-size: 100px;
}

.btn {
    background-color: $primaryColor;
    min-width: 100px;
    padding: 0 1em;
    
    &:hover {
        @include buttonHover;
    }
}